extends layout
block content
  div.content
    h1 #{component.name}
    dl.dl-horizontal
      dt Component
      dd #{component.key}
      dt System
      dd #{component.system}
      dt Documentation
      dd #{component.documentation_complete ? 'Yep' : 'Nope'}
      dt Responsible role
      dd #{component.responsible_role}

    if satisfies && satisfies.length
      h2 Satisfies
      +satisfies(satisfies)

      h2 Details
      each sat in satisfies
        h3
          | #{sat.control_key} #{sat.control.name} #{""}
          small status: #{sat.implementation_status}
        +keyedtext(sat.narrative)

    if component.references && component.references.length
      h2 References
      ol
        each ref in component.references
          li: a(href=ref.path)= ref.name
