extends layout
block content
  div.content
    h1 #{component.key} - #{component.name}
    dl.dl-horizontal
      dt System
      dd #{component.system}
      dt Documentation
      dd #{component.documentation_complete ? 'Yep' : 'Nope'}
      dt Responsible role
      dd #{component.responsible_role}

    h2 References

    if component.satisfies
      h2 Satisfies
      each sat in component.satisfies
        p: a(href=appurl('standards',sat.standard_key, sat.control_key))
          | #{sat.standard_key} - #{sat.control_key}
          if sat.implementation_status
            b= " - status: " + sat.implementation_status
        each n in sat.narrative
          p= n.text

