extends layout
block content
  div.content
    h1 #{component.key} - #{component.name}
    dl.dl-horizontal
      dt System
      dd #{component.system}
      dt Documentation
      dd #{component.documentation_complete ? 'Yep' : 'Nope'}
      dt Responsible role
      dd #{component.responsible_role}

    if component.satisfies
      h2 Satisfies
      +satisfies(component.satisfies)

      h2 Details
      each sat in component.satisfies
        h3
          | #{sat.control_key} #{""}
          small status: #{sat.implementation_status}
        //- KeyedText(sat.narrative)
        each n in sat.narrative
          p
            if n.key
              b (#{n.key})
              = " "
            = n.text

    if component.references && component.references.length
      h2 References
      ol
        each ref in component.references
          li: a(href=ref.path)= ref.name

