extends layout
block content
  h1 #{control.name}
  dl.dl-horizontal
    dt Control
    dd #{control.key}
    dt Standard
    dd #{control.standard_key}
    dt Certifications
    dd
      each certification in certifications
        span.label.label-default #{certification.certification}

  h2 Description
  p= control.description

  if satisfied && satisfied.length
    h2 Satisfied By
    +satisfied(satisfied)

    h2 Details
    each sat in satisfied
      h3
        | #{sat.component.name} #{""}
        small status: #{sat.implementation_status}
      +keyedtext(sat.narrative)
  else if certifications && certifications.length
    +warning
      | This control is not satisfied by any component
  else
    +info
      | This control is not referenced in any certification

