extends layout

block body
  div.container
    include parts/navbar
    if error.status
      h1.alert.alert-danger #{error.status} - #{message}
    else
      h1.alert.alert-danger Internal error
      p.alert.alert-danger #{message}

    dl.alert.alert-danger.dl-horizontal
      dt path
      dd #{path}
      each value, param in params || {}
        dt #{param}
        dd #{value}

    if error.stack
      pre.alert.alert-warning #{error.stack}

