//- landing page
extends layout

block content
  if config && config.documents
    +panel('Documents')
      ul.list-group
        each document, docid in config.documents
          ul.list-group-item
            a(href=linkto.section(docid, docid))
              | #{document.title}
            = ' '
            +printlink(docid)
  else
    h1 #{appname}
    p Welcome to #{appname} #{appversion}

