//- landing page
extends layout

block content
  if config && config.documents
    +panel('Documents')
      ul.list-group
        each document, docid in config.documents
          ul.list-group-item 
            +glyphicon('print')
            = ' '
            a(href=linkto.document(docid)) 
              | #{docid} - #{document.title}
  else
    h1 #{appname}
    p Welcome to #{appname} #{appversion}

