//- Display rec[field], with additional styling/linking depending on field
//-
mixin showThe(rec, field)
  -var value = rec[field]
  case field
    when 'control_key'
      if rec.certification
        a(href=linkto.pcontrol(rec.certification, rec.standard_key, rec.control_key))= value
      else
        a(href=linkto.control(rec.standard_key, rec.control_key))= value

    when 'component_key'
      a(href=linkto.component(rec.component_key))= value

    when 'implementation_status'
      +statusTag(value)

    when 'unsatisfied'
      +s_label('unsatisfied', value)
    when 's_unknown'
      +s_label('unknown', value)
    when 's_planned'
      +s_label('planned', value)
    when 's_partial'
      +s_label('partial', value)
    when 's_complete'
      +s_label('complete', value)
    when 's_none'
      +s_label('none', value)

    default: | #{value}

//- color-coded label+count for s_* columns in /reports/completion
mixin s_label(status, count)
  if count
    span.tag(class = 'tag-' + status)
      | #{status}: #[b= count]

mixin statusTag(status)
  span.tag(class = 'tag-' + status) #{status}

