
mixin stylesheet(uri)
    link(rel='stylesheet', href=uri)

mixin menubox(title, items)
  div.list-group
    p.list-group-item.active= title
    each item in items
        a.list-group-item(href=item.path)= item.title

mixin tocbox(title)
  div.panel.panel-default
    div.panel-heading= title
    div.panel-body
      block

mixin info
  div.alert.alert-success
    block

mixin warning
  div.alert.alert-warning
    block

mixin keyedtext(narrative)
  each n in narrative
    p
      if n.key
        b (#{n.key})
        = " "
      = n.text

mixin identification-block
  dl.dl-horizontal
    block
mixin identification-item(label, value)
    dt= label
    dd= value
mixin identification-heading(label)
    dt= label
    dd
      block

