//-
//- Navigational aides
//-

- var under = item => navinfo && navinfo.descendantOf(item);

//- link to a NavItem using title as anchor text
mixin navinfo-linkto(navitem)
  a(href=navitem.path): navitem.title

//- link to a NavItem using label as anchor text
mixin navinfo-brieflink(navitem)
  a(href=navitem.path, title=navitem.title)= navitem.label

//- relative link
//-  rel: 'prev', 'next', 'up', etc.
//-  label: fixed anchor text
mixin navinfo-rellink(rel, label)
  - var navitem = navinfo && navinfo.links[rel]
  if navitem
    a(rel=rel, href=navitem.path, title=navitem.label)= label
  else
    a.disabled= label

//- Bootstrap breadcrumb bar
mixin breadcrumbs-bar
  if navinfo && navinfo.breadcrumbs
    ol.breadcrumb
      each crumb in navinfo.breadcrumbs
        li: a(href=crumb.path)= crumb.label

//- Full table of contents
mixin toc(contents)
  if contents.length
    ul.toc
      each item in contents
        li(class = under(item) ? 'toc-open' : 'toc-closed')
          span.toc-title: a(href=item.path)= item.title
          +toc(item.contents)

mixin toc-panel(toc)
  +panel(toc.title)
    +toc(toc.contents)

//- Bootstrap pager - next/prev links
mixin pager
  nav(aria-label="...")
    ul.pager
      li.previous: +navinfo-rellink('prev', '\u2190 Previous')
      li.next: +navinfo-rellink('next', 'Next \u2192')

//- Top-level navigation links
mixin topnav
  ul.nav.navbar-nav
    if toplinks
      each link in toplinks
        li(class = under(link) ? 'active' : null)
          +navinfo-brieflink(link)

