//-
//- Navigational aides
//-

- var onpath = function (item) {
-   if (!navinfo) { return false; };
-   for (var c of navinfo.breadcrumbs) {
-     if (item.path == c.path) return true;
-   }
-   return false;
- }

//- relative link
//-  rel: 'prev', 'next', 'up', etc.
//-  label: fixed anchor text
//
mixin rellink(rel, label)
  if navinfo && navinfo.links[rel]
    - var navitem = navinfo.links[rel]
    a(rel=rel, href=navitem.path, title=navitem.label)
      = label
  else
    a.disabled= label

//- link to a NavItem using label as anchor text
//-
mixin brieflink(navitem)
  a(href=navitem.path, title=navitem.title)= navitem.label

//-link to a NavItem using title as anchor text
mixin linkto(navitem)
  a(href=navitem.path): navitem.title

//- Bootstrap breadcrumb bar
mixin breadcrumbs
  if navinfo && navinfo.breadcrumbs
    ol.breadcrumb
      each crumb in navinfo.breadcrumbs
        li: a(href=crumb.path)= crumb.label

//- Full table of contents

mixin toc(contents)
  if contents.length
    ul.toc
      each item in contents
        li(class = onpath(item) ? 'toc-open' : 'toc-closed')
          span.toc-title: a(href=item.path)= item.title
          +toc(item.contents)

//- Bootstrap pager - next/prev links
mixin pager
  nav(aria-label="...")
    ul.pager
      li.previous: +rellink('prev', '\u2190 Previous')
      li.next: +rellink('next', 'Next \u2192')

//- Top-level navigation links
mixin topnav
  ul.nav.navbar-nav
    if toplinks
      each link in toplinks
        li(class = onpath(link) ? 'active' : null)
          +brieflink(link)

