//- 
//- block-level mixins used in main content
//-
mixin stylesheet(uri)
    link(rel='stylesheet', href=uri)

mixin info-block
  div.alert.alert-success
    block

mixin warning-block
  div.alert.alert-warning
    block

mixin identification-block
  table.identification
    block
mixin identification-item(label, value)
  tr
    th= label
    td= value
mixin identification-heading(label)
  tr
    th= label
    td
      block

mixin narrative-block(narrative)
  div.narrative
    each item in narrative
      if item.key
        p.narrative-key: b= item.key
      if item.text
        != markdown(item.text)

mixin control-references(satisfies)
  each rec, standard_key in page.data.satisfies || {}
    - var sep = ": "
    = standard_key
    each description, control_key in rec
      = sep
      a(href=linkto.control(standard_key, control_key))= control_key
      - sep = ", "

