//- various tables ...

mixin satisfied(sats)
  table.table
    thead
      tr
        th Component
        th Name
        th Status
    tbody
      each sat in sats
        tr
          td #[+showThe(sat, 'component_key')]
          td= sat.component && sat.component.name
          td #[+showThe(sat, 'implementation_status')]

mixin satisfies(sats)
  table.table
    thead
      tr
        th Control
        th Name
        th Status
    tbody
      each sat in sats
        tr
          td #[+showThe(sat, 'control_key')]
          td= sat.control && sat.control.name
          td #[+showThe(sat, 'implementation_status')]

mixin controls(controls)
  table.table
    thead
      tr
        th Standard
        th Control
        th Name
    tbody
      each control in controls
        -var url=linkto.control(control.standard_key, control.key)
        tr
          td #{control.standard_key}
          td: a(href=url) #{control.key}
          td: a(href=url) #{control.name}

