//- various tables ...

mixin satisfied-by(sats)
  table.table
    thead
      tr
        th(width="20%") Component
        th(width="65%") Name
        th(width="15%") Status
    tbody
      each sat in sats
        tr
          th #[+showThe(sat, 'component_key')]
          th= sat.component && sat.component.name
          th #[+showThe(sat, 'implementation_status')]

mixin satisfies(sats)
  table.table
    thead
      tr
        th(width="20%") Control
        th(width="65%") Name
        th(width="15%") Status
    tbody
      each sat in sats
        tr
          th #[+showThe(sat, 'control_key')]
          th= sat.control && sat.control.name
          th #[+showThe(sat, 'implementation_status')]

mixin mapped-to(mapped_to)
  table.table
    thead
      tr
        th(width="20%") Standard
        th(width="65%") Name
        th(width="15%") Control
    tbody
      each map in mapped_to
        -let control = map.control
        -let url=linkto.control(control.standard_key, control.key)
        tr
          td #{control.standard_key}
          td: a(href=url) #{control.name}
          td: a(href=url) #{control.key}
        each sat in (control.satisfied_by || [])
          tr
            td #[+showThe(sat, 'component_key')]
            td= sat.component && sat.component.name
            td #[+showThe(sat, 'implementation_status')]

