//- various tables ...

mixin satisfied(sats)
  table.table
    thead
      tr
        th Component
        th Name
        th Status
    tbody
      each sat in sats
        tr
          td: a(href=linkto.component(sat.component_key))= sat.component_key
          td= sat.component && sat.component.name
          td= sat.implementation_status

mixin satisfies(sats)
  table.table
    thead
      tr
        th Control
        th Name
        th Status
    tbody
      each sat in sats
        tr
          td: a(href=linkto.control(sat.standard_key, sat.control_key))
            = sat.control_key
          td= sat.control && sat.control.name
          td= sat.implementation_status

