//- top navigation bar

mixin brand
  a(href=appurl())
    img.navbar-brand(src=appurl('img','opencontrol-icon.png'))

mixin printlink(docid)
  a(href=linkto.document(docid), title='Print')
    +glyphicon('print')

mixin graphql-link
  a(href=appurl('graphql'), title='GraphQL browser')
    img(height='20rem', src=appurl('img','GraphQL-mark-black.svg'))

mixin reload-button
  form.navbar-form.navbar-right(action=appurl('reload'),method='POST')
    button.btn.btn-default(type='submit',title='Reload')
      +glyphicon('refresh')

nav.navbar.navbar-default
  div.navbar-header
    +brand
    +topnav
  +reload-button
  div.navbar-right
    ul.nav.navbar-nav
      if docid
        li: +printlink(docid)
      li: +graphql-link
      if navinfo
        li: +navinfo-rellink('prev', "\u2190 Previous")
        li: +navinfo-rellink('next', "Next \u2192")
        li: +navinfo-rellink('up', "Up \u2191")

